.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  margin-top: -2px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: -543px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(4, 190, 254, 0.25) 0%, rgba(196, 196, 196, 0) 100%);
  z-index: -1;
}

.bg-contents {
  position: absolute;
  width: 1330px;
  height: 999px;
  left:295px;
  top: 0.4px;
  background: url(./assets/faucetimg.svg) no-repeat;
  z-index: -1;
}

#main {
  margin: 9% auto;
}

header {
  background: #291D51 url(./assets/rizon_faucet.svg) top 5px left 20px
    no-repeat;
  background-size: 120px auto;
  text-align: right;
  color: #fff;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  span {
    font-weight: 500;
    color: #fff;
  }
}

footer {
  padding: 40px 40px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #A9ACB1;
  vertical-align: bottom;
  span {
    font-weight: 700;
  }
}

body {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: linear-gradient(180deg, #131313 0%, #000000 100%);
}

section {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  padding: 30px 10px;
  box-sizing: border-box;
  .logo {
    position: relative;
    width: 100px;
    height: 53.63px;
    top:3.18px;
    background: url(./assets/rizon_symbol.png);
  }
  h2 {
    padding: 0;
    margin: 5px;
    width: 635px;
    height: 68px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 68px;
    text-align: center;
    background: -webkit-linear-gradient( #ffffff, #5FF19D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  article {
    width: 747px;
    height: 54px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #A9ACB1
    ;
  }
  .recaptcha {
    margin: 30px 0 20px;
  }
  .inputContainer {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #717376 !important;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(113, 115, 118, 1) !important;
    }
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(113, 115, 118, 1) !important;
    }
    .fieldError {
      color: #ff5561;
      padding: 5px 3px 0;
      font-size: 13px;
    }
    .input {
      position: relative;
      margin: 20px 0;
      width: 640px;
      height: 10px;
      input {
        color: #717376;
        appearance: none;
        border: solid 1px #717376;
        border-radius: 10px;
        height: 48px;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        background-color: rgba(19, 19, 19, 1);
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        &:disabled,
        &:read-only {
          background: rgba(14, 60, 165, 0.03);
        }
        &:focus {
          border: solid 1px #859dca;
        }
      }
    }
    .select {
      position: relative;
      margin: 20px 0;
      &:last-child {
        margin-bottom: 0;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        background: #fff;
        width: 100%;
        color: #2043b5;
        padding: 0 10px;
        height: 48px;
        font-size: 16px;
        border: solid 1px #ced8ea;
        box-sizing: border-box;
        outline: 0;
        &:focus {
          border: solid 1px #859dca;
        }
        option {
          background-color: inherit;
          font-family: inherit;
          color: inherit;
        }
      }
      .selectAddon {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        text-align: center;
        box-sizing: border-box;
        border-left: solid 1px #ced8ea;
        text-align: center;
        pointer-events: none;
        line-height: 48px;
        height: 48px;
        width: 48px;
        i {
          font-size: 18px;
        }
      }
    }
  }
  .buttonContainer {
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      appearance: none;
      width: 240px;
      height: 70px;
      margin: 13px auto;
      padding: 0 40px 0 35px;
      line-height: 48px;
      background: #717376;
      color: #000;
      border: 0;
      border-radius: 25px;
      box-shadow: 0 1px 1px 0 rgba(14, 60, 165, 0.1);
      font-size: 16px;
      cursor: pointer;
      &:first-of-type {
        margin-bottom: 12px;
      }
      &:only-of-type {
        margin-bottom: 0;
      }
      &.light {
        background: linear-gradient(170deg, rgba(95,241,157,1), rgba(4,190,254));
        color: #2043b5;
      }
    }

    button:disabled,
    button[disabled] {
      background: rgba(113, 115, 118, 1);
    }
    i {
      margin-right: 10px;
    }
  }
}

.network_select {
  position: absolute;
  margin-top: 6px;
  right: 20px;
  height: 36px;

  @media (max-width: 768px) {
    height: 28px !important;
    margin-top: 10px;
  }
}

.Toastify__toast-container--top-right {
  top: 15px !important;
  right: 15px !important;
  width: 360px !important;
}

.Toastify__toast {
  word-break: break-word !important;
  font-family: inherit !important;
  padding: 15px !important;
  border-radius: 5px !important;
  font-size: 15px !important;
  letter-spacing: 0 !important;
  line-height: 20px !important;
}

.Toastify__toast--info {
  background: #5493f7 !important;
}
.Toastify__toast--success {
  background: #1daa8e !important;
}
.Toastify__toast--warning {
  background: #fd9a02 !important;
}
.Toastify__toast--error {
  background: #ff5561 !important;
}

@media screen and (min-width: 360px) {
  section {
    border-radius: 5px;
    padding: 30px 20px;
  }
}

@media screen and (min-width: 375px) {
  section {
    border-radius: 5px;
    padding: 30px 25px;
  }
}

@media screen and (min-width: 400px) {
  section {
    border-radius: 5px;
    padding: 30px 30px;
  }
}

@media screen and (min-width: 680px) {
  section {
    margin: 20px auto;
    padding: 40px 40px;
    .buttonContainer {
      button {
        width: auto;
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");